#root,
body,
html {
  width: 100%;
  margin: 0;
  background-color: #4C956C;
  display: flex;
  justify-content: center;
}

.resume,
.home {
  background-color: #4C956C;
}

.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  gap: 50px;
  /* margin-bottom: 10px; */
}

.image {
  background-color: #FEFEE3;
  width: 300px;
  height: 500px;
}

.resume-container {
  background-color: #FEFEE3;
  width: 400px;
  height: 500px;
  border-radius: 20px;
}