#root,
body,
html {
  width: 100%;
  margin: 0;
  background-color: #4C956C;
  display: flex;
  justify-content: center;
}

.resume,
.home {
  background-color: #4C956C;
}

.image {
  background-color: #FEFEE3;
  width: 300px;
  height: 500px;
}

.container {
  display: grid;
  text-align: center;
  vertical-align: middle;
  grid-template-columns: auto auto;
  gap: 30px;
}

.resume-container {
  background-color: #FEFEE3;
  color: black;
  width: 400px;
  height: 550px;
  border-radius: 20px;
}